<div class="movie-card">
  <a [routerLink]="['/movie', movie.id]">
    <section
      [ngStyle]="{
        'background-image':
          'url(https://image.tmdb.org/t/p/w400' + movie.poster_path + ')'
      }"
      class="movie-card-img"
    >
      {{ movie.popularity }}
    </section>

    <section class="movie-card-description">
      <h1>{{ movie.name }}</h1>
      <p>{{ movie.overview }}</p>
    </section>
  </a>
  <button (click)="choseOption(1)">click me</button>
  <button (click)="choseOption(2)">click me two</button>
</div>
