<div class="movie-list">
  <div *ngIf="favoritedMovie">
    <h1>Favorited Movie</h1>
    <div class="top-movies">
      <app-movie-card [movie]="favoritedMovie"></app-movie-card>
    </div>
  </div>
  <h1>Random Movie</h1>
  <div class="top-movies">
    <app-movie-card
      (favoriteMovieEmmiter)="setParentFavoriteMovie($event)"
      [movie]="movies[randomNumber]"
    ></app-movie-card>
  </div>
  <h1>Top Movies</h1>
  <div class="top-movies" *ngFor="let movie of movies">
    <app-movie-card
      (favoriteMovieEmmiter)="setParentFavoriteMovie($event)"
      [movie]="movie"
    ></app-movie-card>
  </div>
</div>
